.container{
    max-width: 90% !important;
}
label{
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 6px ;
    padding: 2px;
}
label:hover{
    transition: 1s;
    background-color: rgb(220, 217, 217);
}
input, textarea{
    border-radius: 6px ;
    background-color: aliceblue;
}