
<a href="{% url 'add_product' %}">Adicione um novo produto</a>
<a href="{% url 'select_product' %}">Atualizar produto</a>

<br>
<br>


<h1>Criar Produto</h1>

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Salvar</button>

<br>
<br>

<h1>Itens Existentes</h1>

{% if produto %}
    {% for item in produto %}
        <u>Nome:{{ item.nome }}</u>
        <u>Preco: R${{ item.preco }}</u>
        <u>Quantidade: {{ item.quantidade }}</u>
    {% endfor %}
{% else %}
    <p>Sem produtos cadastrados</p>
    
{% endif %}